Vidapal_Ai_Agent.json
{
  "name": "Vidapal Ai Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        16
      ],
      "id": "36976789-04a5-4874-8004-dc80536186b2",
      "name": "WhatsApp Trigger",
      "webhookId": "7630fb51-bd35-4158-9152-26bc255ca697",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "tUzH95yGQ12qq4lo",
          "name": "Vidapal AI Agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant called Vidapal, responding in a professional and friendly tone. You are currently speaking with {{ $json.contacts[0].profile.name }} and the current date and time is {{ $now.toISO() }}. As a coffee shop assistant, your role is to assist customers with our roasted and green coffee beans. When a guest asks for the menu, prices, or available products, always fetch and present the information directly from Airtable using the connected Airtable tool, never saying you don’t have access. You must also collect and record each customer’s full name, phone number, and delivery address into the Airtable database, along with the order date (taken from the conversation date). Based on the delivery address, automatically assign the delivery date: if the address contains “Kampala” then delivery date = order date + 1 day; otherwise, delivery date = order date + 3 business days. When customers ask about delivery timelines, always respond with the correct timeframe: deliveries inside Kampala are completed within 24 hours, while deliveries outside Kampala are completed within 3 business days.\\nalways confirm customer details before creating database in airtable, then always create after confirmation.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        160
      ],
      "id": "4131bca2-56e4-4bdd-b26f-7985ae3abfbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        400
      ],
      "id": "ee450a38-dfff-44c4-9ff8-4baf9ef2be61",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qz3GeIRquB6exDJR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        400
      ],
      "id": "22b091de-8f56-4bbb-917d-18c177a8d0cd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e0855f-0a87-4575-bc24-dc72109c9c29",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        160
      ],
      "id": "b4a34218-117d-4a84-8ae5-a6f8c1729a23",
      "name": "Text only prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e4d65fb6-20f3-4014-9dd7-0924cc55833c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ebd3827-e0e0-4fe1-8bc2-128c8b3d8d93",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "630db04f-11fe-420a-9a9c-42f35cc7f21a",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -64,
        0
      ],
      "id": "30be0102-72a4-482a-b667-7fb53da8c60e",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        176,
        -320
      ],
      "id": "5347489d-43e8-4613-ade6-2acc79120bfd",
      "name": "Get Audio URL",
      "webhookId": "673953ea-bb16-475c-85eb-9157e7c11096",
      "credentials": {
        "whatsAppApi": {
          "id": "t0mPYP5xzXO5rZal",
          "name": "Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -320
      ],
      "id": "32514240-b38c-4552-b49a-c78065a148a5",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dtTSipPEEszmD3ov",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        592,
        -320
      ],
      "id": "239672f8-7da7-45a6-8fc3-9e4f8cf4f47a",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "qz3GeIRquB6exDJR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50390ee-f692-4000-97cb-ec90315461fa",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -320
      ],
      "id": "c59d6b9e-70f9-4d9d-9d3c-4197f99fb7f9",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "996663840198979",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1216,
        160
      ],
      "id": "399d4e8f-cd1c-4239-a95a-fe76de88d96a",
      "name": "Respond with text",
      "webhookId": "3fb0d502-f743-4adb-8baf-cc5cc88fdd35",
      "credentials": {
        "whatsAppApi": {
          "id": "t0mPYP5xzXO5rZal",
          "name": "Access Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        208,
        -48
      ],
      "id": "81a3e24a-5001-4f6d-82ef-7b4ae959321e",
      "name": "Get Image URL",
      "webhookId": "00b49f2f-e742-47d9-abe5-efacf97ead7d",
      "credentials": {
        "whatsAppApi": {
          "id": "t0mPYP5xzXO5rZal",
          "name": "Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -48
      ],
      "id": "03871425-3348-44c6-9f2d-a349c36da41d",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dtTSipPEEszmD3ov",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Describe this image in detail.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -48
      ],
      "id": "e8c0e259-b399-4f45-9491-9c8831ac43e1",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "qz3GeIRquB6exDJR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a497518f-4660-4f76-857a-a75e575f9eb0",
              "name": "text",
              "value": "=# The user provided the following image and text.\n\n## Image Description:\n{{ $json.content.parts[0].text }}\n\n## User Message:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -48
      ],
      "id": "33f338f7-ef47-4d0f-9943-7f8fe7ac0e74",
      "name": "Image + Text Prompt"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search records in Airtable",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWApFWMUCwjnCOe",
          "mode": "list",
          "cachedResultName": "coffee business",
          "cachedResultUrl": "https://airtable.com/appWApFWMUCwjnCOe"
        },
        "table": {
          "__rl": true,
          "value": "tblUfbq1wdu2uX4VL",
          "mode": "list",
          "cachedResultName": "Menu",
          "cachedResultUrl": "https://airtable.com/appWApFWMUCwjnCOe/tblUfbq1wdu2uX4VL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        416
      ],
      "id": "07dfd353-9528-44ed-b4a7-d69e88568d0c",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "v1NTHh1flXv7263a",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        416
      ],
      "id": "82b4368d-444a-4212-b455-9fde3fb95aa8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jbeqAYMpw4xATutL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a record in Airtable",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWApFWMUCwjnCOe",
          "mode": "list",
          "cachedResultName": "coffee business",
          "cachedResultUrl": "https://airtable.com/appWApFWMUCwjnCOe"
        },
        "table": {
          "__rl": true,
          "value": "tbluz7arAPazG7W2n",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appWApFWMUCwjnCOe/tbluz7arAPazG7W2n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name__using_to_match_', ``, 'string') }}",
            "phone number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', ``, 'string') }}",
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "total amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total_amount', ``, 'number') }}",
            "number of items ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('number_of_items_ordered', ``, 'number') }}",
            "type of item ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type_of_item_ordered', ``, 'string') }}",
            "date of delivery": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date_of_delivery', ``, 'string') }}",
            "ordered date": "={{ $now }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ordered date",
              "displayName": "ordered date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date of delivery",
              "displayName": "date of delivery",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type of item ordered",
              "displayName": "type of item ordered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number of items ordered",
              "displayName": "number of items ordered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total amount",
              "displayName": "total amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        864,
        400
      ],
      "id": "cc973241-aa9b-426a-950b-fce34c4f5c33",
      "name": "Create a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "v1NTHh1flXv7263a",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond with text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text only prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text only prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Image + Text Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image + Text Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "426f645c-a3cf-465f-933f-b9b079205886",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7740298700549cfb881609109916c68b101eb4e4aacef6d1b1093068097e0a39"
  },
  "id": "tbVBChxaBZt7ElGM",
  "tags": []
}